*
{
	font-family: 'Courier New', monospace;
}

:root
{
	/* --theme-color: #f5ffdc; */
	--theme-color: #d0f5d3;
	--theme-color-alter: #8EDCE9;
	--theme-color-dark: #b0e5b3;
	--theme-color-night: #d0d3f5;
	--theme-color-night-dark: #b0b3e5;
}

body
{
	background: var(--theme-color-alter) top center fixed;
	background-repeat: repeat-x;
	/* background-size: cover; */
    transition: background 2s ease-in-out,
				background-position 0s linear;

    background-image: url('back.jpg');
	/* background-image: radial-gradient(white, transparent); */
	margin: 0;
	user-select: none;
	
	--theme-color-auto: var(--theme-color);
	--theme-color-auto-dark: var(--theme-color-dark);
	--theme-color-auto-contrast: var(--theme-color-dark);
}

body.night
{
	transition: background 2s ease-in-out,
			    background-position 1s linear;
	background-image: url('night_round.jpg');
	background-color: #05112E;
	--theme-color-auto: var(--theme-color-night);
	--theme-color-auto-dark: var(--theme-color-night-dark);
	--theme-color-auto-contrast: var(--theme-color-night);
}

.sheet
{
	display: flex;
	flex-direction: column;
	background-color: #FFF9;
	/* backdrop-filter: blur(2px); */
	padding: .5em;
	margin-top: 0;
	border: 1px var(--theme-color-auto-dark) solid;
	/* min-height: 0px; */
	overflow: hidden;
	border-radius: 0 0 .5em .5em;
	position: fixed;
	box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
	transition: transform 2s ease-in-out, filter 2s;
	max-height: calc(100vh - 5em - 1em);
	width: min(23em, 25vw);
}

body.drunk
{	
}

body.drunk .sheet
{
	transition: all 2s cubic-bezier(1, 1.58, 0.29, -1.33);
	transform: skew(-10deg);
	filter: blur(10px);
	background-color: #00F4;
}

h2
{
	font: inherit;
	text-align: center;
	margin: 0;
/* 	margin-bottom: .5em; */
	cursor: pointer;
}

#temp > span
{
	position: absolute;
	bottom: 4px;
	right: 8px;
	cursor: pointer;
	font-size: x-small; 
	color: rgba(0, 0, 0, 0.5);
}

#temp > span:hover
{
	color: black;
}

#temp_more
{
	height: 0px;
	transition: height 1s ease-in-out, transform 1s ease-in-out;
	transform: scaleY(0);
}

#temp_more > button
{
	width: 90px;
	margin: 10px 25px;
}

#stat
{
 	left: 50%;
}

.stack
{
	right: 50%;
	z-index: 0;
	min-height: 1.2em;
}

.stack:not([active]) > div
{
	display: none;
}

@media (orientation: landscape)
{
body
{
	font-size: clamp(.75em, .9vw, 1.5em);
}

.sheet
{
	/* justify-content: flex-end; */
	border-top: none;
}

.closed
{
	transform: translateY(-100%);
}

#doc
{
	width: 40vw;
	left: 50vw;
	margin-left: calc(-20vw - .5em - 1px);
}
	
#stat
{
	margin-left: 21vw;
}

.stack
{
	margin-right: 21vw;
}

.stack:nth-of-type(5)
{
	padding-top: 4.5em;
	z-index: 1;
}

.stack:nth-of-type(4)
{
	padding-top: 2.5em;
	z-index: 2;
}

.stack:nth-of-type(3)
{
	z-index: 3;
}

}

@media (orientation: portrait)
{
body
{
	font-size: 2.5vw;
}

.sheet
{
	/* justify-content: flex-start; */
	width: 45%;
	max-height: calc(50vh - 5em);
}

.ProgressBar
{
	max-width: 20em;
}

#doc
{
	width: 94vw;
	left: 50vw;
	margin-left: calc(-47vw - .5em - 1px);
	border-top: none;
}
	
#stat
{
	margin-left: 1vw;	
	bottom: 0;
	padding-bottom: 1.5em;
	border-radius: .5em .5em 0 0;
}

.stack
{
	margin-right: 1vw;
	bottom: 0;
	border-radius: .5em .5em 0 0;
	border-bottom: none;
}

.stack:nth-of-type(5)
{
	padding-bottom: 4.2em;
	z-index: 1;
}

.stack:nth-of-type(4)
{
	padding-bottom: 2.5em;
	z-index: 2;
}

.stack:nth-of-type(3)
{
	z-index: 3;
}

#doc.closed
{
	transform: translateY(-100%);
}
	
#stat.closed, .stack.closed
{
	transform: translateY(100%);
}

}

#ws
{
	position: relative;
}

#wb
{
	display: flex;
}

.minh
{
	min-height: 12px;
}

#userBtn
{
		
}

#header
{
	text-align: center;
	min-height: 22px;
}

#footer
{
	font-size: .75em;
}

#footer>*:first-child
{
	margin-top: .5em;
}

button
{
	font-size: smaller;
	height: 2.3em;
/* 	margin: 4px 0 0 0; */
	box-shadow: 0 0 .3em 0px rgba(0, 0, 0, 0.2);
}

button:hover
{
	box-shadow: 0 0 1em 0px rgba(0, 0, 0, 0.2);
}

input
{
	font-size: smaller;
}

.CheckBox
{
	font-size: smaller;
}

.CheckBox > input
{
	margin-top: 8px;
	position: relative;
	top: 2px;
}

[hint]::before
{
	position: absolute;
	display: block;
	right: 25%;
	content: attr(hint);
	transition: opacity 1s;
	opacity: 0;
}

[hint]:hover::before
{
	opacity: 1;
}

.hint,
[hint]::before
{
	background-color: color-mix(in srgb, var(--theme-color-auto) 50%, transparent);
	font-size: 75%;
	padding: 4px;
	position: absolute;
	display: block;
	border: 1px solid #0008;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 0 20px 2px #0008;
	backdrop-filter: blur(.2em);
	z-index: 100;
}

#items
{
	padding-bottom: 8px;
}

.Item
{
	display: block;
	width: 20em;
	/* background-color: #FFF2; */
	/* border-radius: .5em; */
	/* padding-right: .5em; */
	height: 1.5em;
	line-height: 1.5em;
}

.item > span
{
/* 	background-color: green; */
	padding-right: 8px;
}

#clock
{
	background-color: white;
	color: black;
	border: 1px solid black;
	border-radius: 3px;
	padding: 2px 4px 0px 4px;
	/* width: 50px; */
	position: absolute;
	top: 0;
	right: 0;
	margin: 8px;
	box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
}

#clock.night
{
	background-color: black;
	color: white;
}

#dayItem
{
	position: absolute;
	top: 2em;
	right: .5em;
	width: auto;
}

table
{
	border-collapse: collapse;
}

#workTable
{
	display: inline-block;
	width: auto;
}

#workTable > tbody
{
	padding: 0;
	white-space: nowrap;
}

#workTable > tbody > tr > td > *
{
	margin: 8px 8px 0 0;
}

#workTable > tbody > tr > td
{
	padding: 0;
}

#workTable > tbody > tr > td:nth-child(3)
{
	width: 100%;
}

#workTable > tbody > tr > td:nth-child(4)
{
	text-align: right;
}

#workTable > tbody > tr > td:last-child > *
{
	margin-right: 0;
}

#statTable
{
/* 	background-color: red; */
	width: 100%;
}

#statTable > tbody > tr > td
{
/* 	background-color: red; */
	padding: 8px 0 0 0;
	border: 0;
/* 	vertical-align: bottom; */
}

.stack table
{
	width: 100%;
	cursor: default;
	border-spacing: 0;
	/* table-layout: fixed; */
}

.stack table > tr
{
	position: relative;
}

.stack table > tr > td
{
	padding: 0;
}

/* .stack table > tr > td:nth-child(1)
{
	min-width: 10em;
	width: auto;
} */
.stack table > tr > td:nth-child(2)
{
	width: 25%;
}
.stack table > tr > td:nth-child(3)
{
	text-align: right;
	width: 25%;
}

.stack:not(#shop):has(button:not([disabled]))>h2::after,
#version:has(div:not(:empty))::after
{
	content: '';
	display: inline-block;
	position: absolute;
	margin-left: .25em;
	width: .45em;
	height: .45em;
	border-radius: .45em;
	background-color: #F44;
	border: 1px solid white;
}


#buttons
{
	display: inline-block;
	vertical-align: top;
}

#buttons > *
{
	margin-top: 8px;
	float: right;
	white-space: nowrap;
}

.itemcontainer
{
	max-height: 79.5vh;
	overflow-x: hidden;
	overflow-y: auto;
}

@media (orientation: portrait)
{
	.itemcontainer
	{
		max-height: 35vh;
	}
}

.itemcontainer::-webkit-scrollbar
{
	width: 4px;
}

.itemcontainer::-webkit-scrollbar-track
{
	/* background-color: #ffffff; */
	/* border-radius: 3px; */
	/* padding: 2px; */
}

.itemcontainer::-webkit-scrollbar-thumb
{
	margin: 2px;
	background-color: var(--theme-color-auto);
	border-radius: 3px;
}

.ProgressBar
{
	display: inline-block;
	text-align: center;
	height: 1em;
	position: relative;
	top: .2em;
	min-width: 150px;
	width: 15vw;
	border: 1px solid black;
	padding: 1px;
	border-radius: 4px;
	background-color: white;
	box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
	font-size:.75em;
	line-height: 1.2em;
}

.ProgressBar>div
{
	height: 100%;
	background-color: var(--theme-color-dark);
	border-radius: 2px;
	width: 0;
}

.ProgressBar>span
{
	position: absolute;
	width: 100%;
	left: 0;
	top: 1px;
}

.ProgressBar.smooth
{
	width: calc(100% - 4px);
}

.ProgressBar.smooth > div
{
	-webkit-transition: width .5s ease-out;
    -moz-transition: width .5s ease-out;
    -o-transition: width .5s ease-out;
    -ms-transition: width .5s ease-out;    
    transition: width .5s ease-out;
}

.ProgressBar.upgradebar
{
	min-width: 50px;
	width: 90%;
}

#sleepBtn
{
 	position: absolute;
	top: auto;
	bottom: 0;
	right: 0;
}

#npc
{
	margin-bottom: 8px;
	padding: 8px;
	border: solid 1px white;
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 0 15px 0px rgba(0, 0, 0, 0.5);
}

#npcName > span
{
	font-weight: bold;
}

.small-info
{
	margin: 0;
	width: auto;
	height: auto;
	color: rgba(0, 0, 0, 0.75);
	line-height: 1em;
	margin-bottom: 4px;
}

.small-info > span
{
	font-size: smaller;
}

#npcStat > table > tbody > tr > td:nth-child(1)
{
	padding-right: 8px;
	text-align: right;
}
#npcStat > table > tbody > tr > td:nth-child(2)
{
	padding-right: 2px;
}

#npcActs > table > tbody > tr > td > *
{
	margin: 6px 10px 0 0;
}

#npcExtra
{
/* 	margin: 2px 0; */
	max-height: 350px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.chat
{
	display: block;
	border-radius: 8px;
	padding: 0 4px;
	width: max-content;
	max-width: 40%;
	box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
	margin: 8px 4px;
}

.chat.income
{
	background-color: rgba(0, 0, 0, 0.1);
}

.chat.outcome
{
	margin-left: auto;
	margin-right: 50%;
	background-color: rgba(255, 255, 255, 0.8);
}

#version
{
	color: #0006;
	position: fixed;
	bottom: 1em;
	right: 1em;
	/* opacity: 0.4; */
	font-size: small;
	border-radius: .7em;
	padding: .1em .5em;
	box-shadow: 0 0 20px 0 #0003;
}

#version h2
{
	font-weight: bold;
	font-size: larger;
}

#version>div
{
	display: none;
}

#version:has(div:not(:empty))
{
	cursor: pointer;
}

#version:has(div:not(:empty)):hover
{
	background-color: #FFF9;
}

#version:has(div:not(:empty)):hover > div
{
	display: block;
}

/* @media (orientation: portrait)
{
	#version
	{
		transform-origin: right bottom;
		transform: rotate(270deg) translateX(100%);
	}
} */

body.night #version
{
	color: #FFF8;
	box-shadow: 0 0 20px 0 #FFF3;
}

.watch
{
	border-radius: 3px;
	padding: 2px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.25);
}